                    * {
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                    }

                    body {
                        font-family: Work Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 147%;
                        /* or 26px */
                        color: #495057;
                        background: #e7f5ff;
                        
                    }

                    h1, h2 {
                        color: #495057;
                        color: #1c7ed6;
                    }

                    h1 {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 36px;
                        line-height: 99.5%;
                        /* or 36px */
                        margin-bottom: 10px;
                    }

                    h2 {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 115.9%;
                        margin-bottom: 10px;
                    }

                    p {
                        margin-bottom: 22px;
                    }

                    nav {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border: 2px solid #505050;
                        background-color: white;
                        box-sizing: border-box;
                        border-radius: 4px;
                        font-family: 'Montserrat';
                        height: 73px;
                        padding: 24px;
                        font-weight: 900;
                        margin-top: 24px;
                        margin-left: 24px;
                        margin-right: 24px;
                        margin-bottom: 33px;
                    }

                    footer {
                        text-align: center;
                        margin-bottom: 24px;
                    }

                    a {
                        color: #228be6;
                    }

                    .container {
                        
                        max-width: 920px;
                        margin: 0px auto;
                        padding: 0px 24px;
                        margin-bottom: 24px;
                    }

                  

                    .hero h1:hover {
                        color: #76B4EE;
                    }

                    .container li {
                        margin-left: 24px;
                    }

                    .accent {
                        color: #76B4EE;
                    }

                    .hero {
                        line-height: 48px;
                        color: #EBEBEB;
                    }

                    .brand {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        text-transform: lowercase;
                        font-feature-settings: 'cpsp' on;
                        color: #495057;
                    }

                    .social li {
                        display: inline;
                        margin: 0;
                        margin-left: 16px;
                        color: #495057;
                    }

                    .social a {
                        text-decoration: none;
                        color:  #495057;
                    }

                    a.btn {
                        background: #FFFFFF;
                        border: 2px solid #505050;
                        box-sizing: border-box;
                        border-radius: 4px;
                        font-family: Work Sans;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 150.8%;
                        /* identical to box height, or 18px */
                        text-transform: uppercase;
                        padding: 16px 24px;
                        display: inline-block;
                        text-decoration: none;
                        color: #505050;
                        
                    }

                    .container {
                        max-width: 920px;
                        display: grid;
                        grid-template-columns: repeat(12, 1fr);
                        grid-gap: 1.9%;
                        /* display: flex;
                        justify-content: space-between;
                        align-items: center; */
                    }
                    .content {
                        /* display: grid; */
                        grid-column: 1/7;
                    }
                    .img-placeholder{
                        grid-column: 7/13;
                        margin-top: 72px;
                    }


                    #edwin-sits {
                        width: 100%
                    }

                    #edwin-stands {
                        display: none;
                    }

                    .fab {
                        display: none;
                    }

                    @media only screen and (max-width: 700px) {
                        .fab {
                            display: inline-block;
                            /* font-size: 24px; */
                        }
                        .nav-link {
                            display: none;
                        }
                        #edwin-stands {
                            margin: 31px auto;
                            display: block;
                        }
                        #edwin-sits {
                            display: none;
                        }
                        .img-placeholder {
                            display: none;
                        }
                        .brand, .social {
                            font-size: 16px;
                        }
                        footer {
                            padding: 24px;
                        }
                        h1 {
                            font-size: 24px;
                        }
                        h2 {
                            font-size: 20px;
                        }
                        .content {
                            /* display: grid; */
                            grid-column: 2/12;
                        }

                        .btn {
                            text-align: center;
                            width: 100%;
                        }

                        .social li {
                            margin-left: 8px;
                            font-size: 32px;
                        }

                    }